<div class="p-4 sm:ml-64">



  <div class="p-2  rounded-lg">


    <div class="flex items-center justify-between h-80 mb-4 rounded bg-[#168CCE]">
      <div>
        <p class="text-xl md:text-4xl md:ml-10 text-white">NEED TO ACCESS YOUR <br/>MEDICAL RECORDS</p>
        <button class="md:ml-10 border  hover:border-[#FFF] rounded-lg p-2 mt-2 bg-[#FFF] hover:bg-[#22214F] hover:text-[#FFF]">ADD PATIENT</button>
      </div>

      <p><%= image_tag "mandoc.png", class: "relative h-40 md:h-52 right-6 md:right-10 bottom-6 mr-6 md:mr-10"%></p>
    </div>


    <div class="grid grid-cols-4 gap-4 mb-4">
       <div class="flex items-center bg-[#22214F]  gap-4 justify-center h-28 rounded bg-">
        <p class="text-2xl   rounded-full h-12 w-12 p-2 "
        style="background-color: #D39F18;">
        <%= image_tag "stats.png", class: "w-[100%]  h-[100%]"%>
        
        
        </p>
        <div class="flex flex-col">
        <p class="text-white ">
        30%
        </p>
          <p class="text-gray-400">
      Total Activity
        </p>
        </div>

      </div>
        <div class="flex items-center bg-[#22214F]  gap-4 justify-center h-28 rounded bg-">
        <p class="text-2xl   rounded-full h-12 w-12 p-2 "
        style="background-color: #D3183A;">
        <%= image_tag "stats.png", class: "w-[100%]  h-[100%]"%>
        
        
        </p>
        <div class="flex flex-col">
        <p class="text-white ">
        30%
        </p>
          <p class="text-gray-400">
      Total Activity
        </p>
        </div>

      </div>
         <div class="flex items-center bg-[#22214F]  gap-4 justify-center h-28 rounded bg-">
        <p class="text-2xl   rounded-full h-12 w-12 p-2 "
        style="background-color: #168CCE;">
        <%= image_tag "stats.png", class: "w-[100%]  h-[100%]"%>
        
        
        </p>
        <div class="flex flex-col">
        <p class="text-white">
        30%
        </p>
          <p class="text-gray-400">
      Total Activity
        </p>
        </div>

      </div>
         <div class="flex items-center bg-[#22214F]  gap-4 justify-center h-28 rounded bg-">
       <p class="text-2xl   rounded-full h-12 w-12 p-2 "
        style="background-color: #19570F; ">
        <%= image_tag "stats.png", class: "w-[100%]  h-[100%]"%>
        
        
        </p>
        <div class="flex flex-col">
        <p class="text-white">
        30%
        </p>
          <p class="text-gray-400">
      Total Activity
        </p>
        </div>

      </div>
    </div>

    <div class="flex justify-between">
    <p class="text-3xl">
    Patients
    </p>


     <p class="text-3xl">
   Select tag
    </p>


    </div>

    <div class="w-[100%]  bg-red-500 text-center overflow-x-auto "
    style="width: 100%;">
    
    <table class="w-[100px] text-[#454242]   "   
    style="width: 100%; ">
          
            <thead class="text-xl w-[100%] border-b-2 border-black  "
            style="color: #454242; border-bottom: 2px solid #454242; "
            
            >
              <tr>
               
                <th scope="col" class="px-6 py-3">
                Doc Profile
                </th>
                    <th scope="col" class="px-6 py-3">
                 Last Prescribesd
                </th>
                <th scope="col" class="px-6 py-3">
                  Patient  Name
                </th>
                <th scope="col" class="px-6 py-3">
                 Age
                </th>

                <th scope="col" class="px-6 py-3">
                  Action
                </th>
                
              </tr>
            </thead>
            <tbody>
            <% @patients.each do |patient| %>
              
                <tr class=" border-b-2 w-[90%] mx-auto border-[#E1E1E1] ">
                 
                  <td class="px-6 py-4">
                 Hey
                    
                  </td>
                  <td class="px-6 py-4">
                  hey
                   </td>
                  <td class="px-6 py-4">hey </td>
                  <td class="px-6 py-4"> hey</td>
                  <td class="px-6 py-4"> hey </td>
                 
                </tr>
              <%end%>
            </tbody>
            

</table>
            </div>
  
    <div class="flex items-center justify-center h-48 mb-4 text-white rounded bg-[#22214F]">
      Stats go here
    </div>
   
  </div>
</div>