<div class="p-4 sm:ml-64">
  <p> This is the show page </p>
  <p><%= @patient.gender %></p>
  <p><%= @patient.marital_status %></p>
  <p><%= @patient.phone_number %></p>
  <p><%= @patient.residence %></p>
  <p>
    <%= image_tag(@patient.photo, class:"w-[300px] h-auto") %></p>
  <p><%= @patient.user_id %>
  </p>


</div>
